/* You can add global styles to this file, and also import other style files */
$blue:#3a99d8;
$lightBlue: #5ac8fa;
$green:#39ca74;
$lightGreen:#66e4a7;
$grey:#bfbfbf;
$darkGrey:#8d8d8d;
$textGrey:#404040;
$textLightGrey:#8c8c8c;
$progGrey: #eaeaea;
$borderGrey:#dddddd;
$offWhite:#fafafa;
$backgroundGrey:#f4f4f4;


//tag colors 
$tagDarkBlue:#334659;
$tagDarkBlueBg:#f6f7f8;
$tagLightBlue:#00bcd4;
$tagLightBlueBg:#f7fdfd;
$tagGreen:#8cc152;
$tagGreenBg:#fbfdf6;
$tagPurple:#9c27b0;
$tagPurpleBg:#faf7fc;
