
<div class="app-container">

  <div class="app-content">
    <header>
      <h1>BabyFirst</h1>
    </header>
    <app-progress-bar
     [progressOptions]="progressOptions"
     [progress]="progress">
    </app-progress-bar>
    <div class="offer-container">
      <h2>Pick your offers</h2>
      <div class="grid">
        <div class="offer-wrapper" *ngFor="let offer of currentOffers">
          <app-offer-item 
          [offer]="offer" 
          [isSelected]="selection[offer.id]"
          (selected)="onSelected($event)"
          (viewInfo)="toggleModal($event)">
        </app-offer-item>
        </div>  
      </div>

    </div>
    <footer>
      <div class="footer-banner">
        <img src="assets/logos/img_publisher_logo.png" alt="Baby First">
        <a href="#">
          <img src="assets/logos/facebook.PNG" alt="Facebook">
        </a>
        
      </div>
      
      <ul>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </footer>
  </div>
  <div class="bottom-btn-container">
    <button [disabled]="offersSelected < offerLimit" (click)="onComplete()">
      <img class="icon" src="assets/icons/icon_check_inv.svg" alt="Checked">
      {{offersSelected}} of 5 offers selected
    </button>
  </div>
  <app-modal  
    [class.show]="showModal" (toggleModal)="toggleModal($event)"
    [offer]="modalOffer" [selection]="selection" (selected)="onSelected($event)">
  </app-modal>
  <div class="alert-window" [class.show]="showAlert">
    Maximum offers has been reached
    <button (click)="dismissAlert()" tabindex="-1">&#10006;<span class="sr-only">close alert</span>
    </button>
  </div>
</div>

